<section class='analysis'>
  <div class='post-twitter'>
    <div class='post-info'>
      <span class='username'></span>
      <div class='icons'>
        <span class='check_count'>🔎</span>
        <span class='cache_flag'>⚡️</span> <!-- Using cache from DB or not! -->
        <a href='#' class='post-url'>View</a>
      </div>
    </div>
    <div class='post-content'>
      <p class='post-content'>Provide a Tweet link to see more!</p>
    </div>
  </div>
  <hr>
  <div class='post-analysis'>
    <div class='generals'>
      <p class='general_emotion'>❓</p> <!-- 1 -> 👍, 2 -> 👎, 0 -> 😐 -->
      <h3 class='general_summary'></h3>
    </div>
    <div class='emotion_tags'>
      <span class='emotion_tag joy'>Joy 🤩<span class='result'></span></span> <!-- 0/10 -->
      <span class='emotion_tag love'>Love ❤️<span class='result'></span></span>
      <span class='emotion_tag hope'>Hope 🙏<span class='result'></span></span>
      <span class='emotion_tag pride'>Pride 🏆<span class='result'></span></span>
      <span class='emotion_tag nostalgia'>Nostalgia ☘️<span class='result'></span></span>
      <span class='emotion_tag fear'>Fear 😨<span class='result'></span></span>
      <span class='emotion_tag sadness'>Sadness 😢<span class='result'></span></span>
      <span class='emotion_tag disgust'>Disgust 🤢<span class='result'></span></span>
      <span class='emotion_tag anger'>Anger 😡<span class='result'></span></span>
      <span class='emotion_tag shame'>Shame 😳<span class='result'></span></span>
      <span class='emotion_tag guilt'>Guilt 😔<span class='result'></span></span>
      <span class='emotion_tag surprise'>Surprise 😲<span class='result'></span></span>
    </div>
  </div>
</section>