<section class='analysis'>
  <div class='post-twitter'>
    <div class='post-info'>
      <span id='username'>@username</span>
      <div class='icons'>
        <span id='check_count'>🔎</span>
        <span id='cache_flag'>⚡️</span> <!-- Using cache from DB or not! -->
        <a href='#' id='post-url'>View Tweet</a>
      </div>
    </div>
    <div class='post-content'>
      <p id='post-content'>Provide a Tweet link to see more!</p>
    </div>
  </div>
  <hr>
  <div class='post-analysis'>
    <div class='generals'>
      <p id='general_emotion'>❓</p> <!-- 1 -> 👍, 2 -> 👎, 0 -> 😐 -->
      <h3 id='general_summary'>...</h3>
    </div>
    <div id='emotion_tags'>
      <span class='emotion_tag' id='joy'>Joy 🤩<span class='result'>/10</span></span> <!-- 0/10 -->
      <span class='emotion_tag' id='love'>Love ❤️<span class='result'>/10</span></span>
      <span class='emotion_tag' id='hope'>Hope 🙏<span class='result'>/10</span></span>
      <span class='emotion_tag' id='pride'>Pride 🏆<span class='result'>/10</span></span>
      <span class='emotion_tag' id='nostalgia'>Nostalgia ☘️<span class='result'>/10</span></span>
      <span class='emotion_tag' id='fear'>Fear 😨<span class='result'>/10</span></span>
      <span class='emotion_tag' id='sadness'>Sadness 😢<span class='result'>/10</span></span>
      <span class='emotion_tag' id='disgust'>Disgust 🤢<span class='result'>/10</span></span>
      <span class='emotion_tag' id='anger'>Anger 😡<span class='result'>/10</span></span>
      <span class='emotion_tag' id='shame'>Shame 😳<span class='result'>/10</span></span>
      <span class='emotion_tag' id='guilt'>Guilt 😔<span class='result'>/10</span></span>
      <span class='emotion_tag' id='surprise'>Surprise 😲<span class='result'>/10</span></span>
    </div>
  </div>
</section>