<header>
  <div class='container'>
    <a href='/' class='header-logo-container'>
      <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d="m8 3 4 8 5-5 5 15H2L8 3z"></path></svg>
      Sentiment Analyzer
    </a>
  </div>
  <div class='container'>
    <nav>
      <ul>
        <li><a href='/'>Analyse</a></li>
        <li><a href='/list'>List All</a></li>
        <li><a href='/more'>How it works</a></li>
      </ul>
    </nav>
  </div>
</header>